@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --lexend: 'Lexend Deca', sans-serif;
    --bigshoulders: 'Big Shoulders Display', cursive;
    --orange: #E28726;
    --Dk-cyan: #006870;
    --Vdk-cyan: #004241;
}

*{
    margin: 0;
    padding: 0;
    font-size: 0.938rem;
    font-family: var(--lexend);
}

.container{
    margin: 5rem;
    display: flex;
    place-content: center;
}

.card1{
    border-radius: 1.5rem 0 0 1.5rem;
   background-color: var(--orange);
   padding: 4rem;
}
.card2{
   background-color: var(--Dk-cyan);
   padding: 4rem;
}
.card3{
   background-color: var(--Vdk-cyan);
   padding: 4rem;
   border-radius: 0 1.5rem 1.5rem 0;
}

.btn{
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.btn:hover{
    background-color: black;
    color: white;
}

.btn1{
    color: var(--orange);
    font-size: 1rem;
}
.btn2{
    color:var(--Dk-cyan);
    font-size: 1rem;
}
.btn3{
    color: var(--Vdk-cyan);
    font-size: 1rem;
}

.title{
    font-family: var(--bigshoulders);
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 2rem;
}

.text{
    padding:  2rem 0;
    margin-bottom: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 1rem;
}

.attribution { 
    flex-direction: column;
    font-size: 0.688rem; 
    text-align: center; }

.attribution a {
    font-size: 0.688rem; 
    color: hsl(228, 45%, 44%); }

@media screen and (max-width: 640px){

    body{
        background-color: black;
    }

   .container{
       display: flex;
       flex-direction: column;
       margin: 1rem;
       padding: 1rem;
   }

   .card1{
       border-radius: 1rem 1rem 0 0;
       padding: 2rem;
   }

   .card2{
       padding: 2rem;
   }

   .card3{
       border-radius: 0 0 1rem 1rem ;
       padding: 2rem;
   }

   .attribution{
    font-size: 0.563rem;
    color: #E28726;
   }
}